@media (min-width: map-get($media-queries, lg)) {
  .float-lg-right {
    float: right;
  }
}
.overflow-none {
  overflow: hidden;
}
.w-full {
  width: 100%;
}
figure {
  display: table;
}
figcaption {
  display: table-caption;
  caption-side: bottom;
}