@media (min-width: map-get($media-queries, lg)) {
  .float-lg-right {
    float: right;
  }
}
.continue {
  counter-reset: none;
}
.w-full {
  width: 100%;
}
figure.figure-caption {
  display: inline-table;
}
.figure-caption > figcaption {
  display: table-caption;
  caption-side: bottom;
}
#reference-manifest-urls-of-preinstalled-apps ~ .table-wrapper table {
  width: max-content;
}